<h1>New Book<h1>
<%= form_with scope: :book, url: books_path, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
    </p>

    <p>
    <%= form.label :genre %><br>
    <%= form.text_field :genre %>
    </p>

    <p>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
    </p>

    <p>
    <%= form.label :"Date Published" %><br>
    <%= form.text_field :"published-date" %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>